@use "./variables";

.icons {
    background-color: variables.$lightBlue;
    .iconFlex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        .items {
            width: 35%;

            margin: 50px 25px 25px;

            h2 {
                margin-bottom: 1rem;
            }
            // come back to this!!
            i {
                color: variables.$navyBlue;
            }

        }

        .destinations {
            margin-top: 10rem;
        }

        .community {
            margin-top: 10rem;
        }
    }
}